<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a routerLink="/pokemons" routerLinkActive="text-white font-bold text-xl" class="ml-4 text-gray-300 hover:text-white">Pokémons</a>
        <a routerLink="/about" routerLinkActive="text-white font-bold text-xl" class="ml-4 text-gray-300 hover:text-white">About</a>
        <a routerLink="/pricing" routerLinkActive="text-white font-bold text-xl" class="ml-4 text-gray-300 hover:text-white">Pricing</a>
      </div>
    </div>
  </div>
</nav>
